@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quintessential&family=Shadows+Into+Light&display=swap');

body{
    background-color: cornsilk;
}

.title{
    color: crimson;
    text-align: center;
    font-family: 'Quintessential', cursive;
}

img{
    width: 900px;
    margin: 0 auto;
    display: block;
}

.recipe{
    color: darkred;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

table{
    color: brown;
    margin: 0 auto;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

.cooking{
    color: darkred;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.cook{
    border: 1px solid;
    width: 80%;
    margin: 0 auto;
    font-family: 'Caveat', cursive;
    color: brown;
    font-size: 30px;
}

.info{
    color: darkred;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.nut-info{
    width: 17%;
    color: brown;
    font-size: 27px;
    margin: 0 auto;
    font-family: 'Caveat', cursive;
}

h2{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.end{
    color: darkred;
    text-align: center;
    font-size: 23px;
    font-family: 'Caveat', cursive;
}